<div id="gitmentContainer"></div>
<style>
    #gitmentContainer {
        max-width: 760px;
        margin: 0 auto;
    }
</style>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
        id: '{{ page.id }}',
        title: '{{ page.title }}',
        owner: 'betteryangjie',
        repo: 'gitment.comment',
        oauth: {
            client_id: '5ff038f9e27fa8b4da0b',
            client_secret: 'c20dac7c0f27d45d6a54235f95a273802a38a479',
        },
    })
    gitment.render('gitmentContainer')
</script>