<div id="gitmentContainer"></div>
<!--<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>-->
<link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<script src="https://billts.site/js/gitment.js"></script>
<script>
    var gitment = new Gitment({
        id: '{{ page.date }}',
        title: '{{ page.title }}',
        owner: 'betteryangjie',
        repo: 'gitment.comment',
        oauth: {
            client_id: '5ff038f9e27fa8b4da0b',
            client_secret: 'c20dac7c0f27d45d6a54235f95a273802a38a479',
        },
    })
    gitment.render('gitmentContainer')
</script>