---
layout: default
title: yangjie的Blog
---
<div>共{{ site.posts.size }}篇</div>
<ul class="blogList">
    {% for post in paginator.posts %}
    <li>
        <div class="title">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </div>
        <div class="main">
            {{ post.content | truncate:80 }}
            {% if post.content.size > 80 %}
                <a href="{{ site.baseurl }}{{ post.url }}">阅读更多</a>
            {% endif %}    
        </div>
        <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
        <span>
            <b class="ds-thread-count disqus-comment-count"
               data-thread-key={{ post.id }}
               data-disqus-identifier={{ post.id }}>
            </b>
        </span>
    </li>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
    <div>
        {% include page.html %}
    </div>
    {% endif %}
</ul>
{% include category.html %}
{% include tag.html %}
{% include weiboshow.html %}
