---
layout: default
title: yangjie的Blog
---
<style>
  .catName {
    margin: 0 0 10px 0;
  }
  .container .blogList {
    width: 100%;
    float: none;
  }
</style>
<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script src="Jquery.Query.js"></script>
<div class="catName"></div>
<ul class="blogList"></ul>
<script>
var dataStr = '{ {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{"id":"{{post.id}}","url":"{{post.url}}", "title":"{{post.title}}", "date":"{{post.date | date:"%Y-%m-%d"}}","main":"{{post.content | truncate:80 | uri_escape}}", "more":{% if post.content.size > 80 %}true{% else %}false{% endif %}  }{% endfor %}]{% endfor %} }';
var data = JSON.parse(dataStr);
var cat = $.query.get("cat");
$(".catName").html("分类：" + cat);
var posts = data[cat];
for(var i=0;i<posts.length;i++) {
  var post = posts[i];
  var title = $("<div class='title' />");
  var a = $("<a />");
  a.attr("href","/blog" + post.url);
  a.html(post.title);
  title.append(a);
  var main = $("<div class='main' />");
  main.html(decodeURI(post.main));
  if(post.more) {
    var a = $("<a />");
    a.attr("href","/blog" + post.url);
    a.html("阅读更多");
    main.find("p:first").append(a);
  }
  var date = $("<span class='date' />");
  date.html(post.date);
  var duoshuo = $("<span/>");
  var duoshuo_b = $("<b/>");
  duoshuo_b.attr("class","ds-thread-count disqus-comment-count");
  duoshuo_b.attr("data-thread-key",post.id);
  duoshuo_b.attr("data-disqus-identifier",post.id);
  duoshuo.append(duoshuo_b);
  var li = $("<li />");
  li.append(title);
  li.append(main);
  li.append(date);
  li.append(duoshuo);
  $(".blogList").append(li);
}
</script>
