<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
</head>
<body>
    <div class="bd">
        <div class="container">
            <article>
                {% include header.html %}
                <div class="content">{{ content }}</div>
            </article>
        </div>
        {% include duoshuo.html %}
        <style>
        span.date {
            color: #999;
        }
        </style>
    </div>
</body>
</html>