<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/syntax.css" media="screen">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
</head>
<body>
    <div class="bd">
        <div class="container">
            <article>
                {% include header.html %}
                <h1>{{ page.title }}</h1>
                <div class="desc">作者:<a href="/about">羊姐</a> {{ page.date | date: "%Y-%m-%d" }}</div>
                <div class="content">{{ content }}</div>
                {% include share.html %}
            </article>
        </div>
        {% include gitment.html %}
        <style>
        .footer {
            background: #3f3f3f;
        }
        </style>
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260078016'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1260078016%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
